body {
  background: #D8F0FF;
  height: 98vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  font-family: 'Trebuchet MS', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
}

body .fp-page-content .fp-content-block-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (max-width: 768px) {
  body .fp-page-content .fp-content-block-center {
    width: 99%;
  }
}

body .fp-page-content .fp-content-block-center h1 {
  color: #10273E;
}

@media only screen and (max-width: 768px) {
  body .fp-page-content .fp-content-block-center h1 {
    text-align: center;
    font-size: 26px;
  }
}

body .fp-page-content .fp-content-block-center .fp-card-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 7.5px;
}

@media only screen and (max-width: 768px) {
  body .fp-page-content .fp-content-block-center .fp-card-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

body .fp-page-content .fp-content-block-center .fp-card-row .fp-card {
  width: 394px;
  height: 219px;
  background-color: #E7F4FF;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.2));
          filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.2));
  margin: 7.5px;
}

body .fp-page-content .fp-content-block-center .fp-card-row .fp-card:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
}

@media only screen and (max-width: 768px) {
  body .fp-page-content .fp-content-block-center .fp-card-row .fp-card {
    max-width: 90%;
    height: auto;
    margin: 10px auto;
    padding: 20px 0;
  }
}

body .fp-page-content .fp-content-block-center .fp-card-row .fp-card .fp-card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .fp-page-content .fp-content-block-center .fp-card-row .fp-card .fp-card-content .fp-card-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
  width: 112px;
  height: auto;
}

body .fp-page-content .fp-content-block-center .fp-card-row .fp-card .fp-card-content .fp-card-image#imgInfoBoard {
  background: url(img/imgInfoBoard.svg) center center no-repeat;
  height: 112px;
  width: 112px;
}

body .fp-page-content .fp-content-block-center .fp-card-row .fp-card .fp-card-content .fp-card-image#imgShift {
  background: url(img/imgShift.svg) center center no-repeat;
  height: 112px;
  width: 112px;
}

body .fp-page-content .fp-content-block-center .fp-card-row .fp-card .fp-card-content > button:hover {
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
}

body .fp-page-content .fp-content-block-center .fp-card-row .fp-card .fp-card-content button {
  padding: 10px 20px;
  border-radius: 50px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: 28px;
  border: none;
}

body .fp-page-content .fp-content-block-center .fp-card-row .fp-card .fp-card-content button#btn-info-board {
  background-color: #22578B;
}

body .fp-page-content .fp-content-block-center .fp-card-row .fp-card .fp-card-content button#btn-shift {
  background-color: #4F8A33;
}

body .fp-page-content .fp-content-block-center .fp-card-row .fp-card .fp-card-content button:hover {
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
}

body .fp-page-content .fp-content-block-center .fp-card-row .fp-card .fp-card-content button a {
  color: #fff !important;
  text-decoration: none;
  -webkit-filter: none !important;
          filter: none !important;
}

body .fp-page-content .fp-content-block-center .fp-card-row .fp-card .fp-card-content button a:hover {
  -webkit-filter: none !important;
          filter: none !important;
}
/*# sourceMappingURL=style.css.map */