// Mobile phones
$screen-sm: 576px;

// Small tablets (portrait view)
$screen-md: 768px;

// Tablets and small desktops
$screen-lg: 992px;

// Large tablets and desktops
$screen-xl: 1200px;

// Large tablets and desktops
$screen-xl-desktop: 1366px;

$linkColorBoard: #22578B;
$linkColorShift:#4F8A33;

@mixin site-font($weight) {
	font-family: 'Trebuchet MS', sans-serif;
	font-weight: $weight;
}

@mixin header-font($weight) {
	font-family: 'Trebuchet MS', serif;
	font-weight: $weight;
}

@mixin fp-transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}
@mixin break-mobile {
    @media only screen and (max-width: #{$screen-sm}) {
      @content;
    }
  }
  
  @mixin break-tablet {
    @media only screen and (max-width:#{$screen-md}) {
      @content;
    }
  }
  
  @mixin break-desktop {
    @media only screen and (max-width: #{$screen-lg}) {
      @content;
    }
  }
  
  @mixin break-xl-tablet {
    @media only screen and (max-width: #{$screen-xl}) {
      @content;
    }
  }
  @mixin break-xl-desktop {
      @media only screen and (max-width: #{$screen-xl-desktop}) {
        @content;
      }
    }
  
body {
    background: #D8F0FF;
    height: 98vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
	 @include site-font(400);
	  -webkit-font-smoothing: antialiased;
	  -moz-osx-font-smoothing: grayscale;

      @include fp-transition ( all linear 0.5s);
      @include break-tablet() {
        overflow: hidden;
      }
    .fp-page-content {
        .fp-content-block-center {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            flex-direction: column;
            @include break-tablet() {
                width: 99%;
            }

            h1 {
                color: #10273E;
                @include break-tablet() {
                    text-align: center;
                    font-size: 26px;
                   
                }
            }
            .fp-card-row {
                display: flex;
                margin: 7.5px;
                @include break-tablet() {
                    flex-direction: column;
                }
                
                .fp-card {
                    width: 394px;
                    height: 219px;
                    background-color: #E7F4FF;
                    border-radius: 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.2));
                    margin:7.5px;

                &:hover {
                    transform: scale(1.03);
			        transition: all .15s ease-in-out;
                }
                   

                    @include break-tablet() {
                        max-width: 90%;
                        height: auto;
                        margin: 10px auto;
                        padding: 20px 0;
                    }
                    .fp-card-content {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        .fp-card-image {
                            display: flex;
                            justify-content: center;
                            margin-bottom: 10px;
                            width: 112px;
                            height: auto;
                            &#imgInfoBoard {
                                background: url(img/imgInfoBoard.svg) center center no-repeat;
                                height: 112px;
                                width: 112px;
                            }

                            &#imgShift {
                                background: url(img/imgShift.svg) center center no-repeat;
                                height: 112px;
                                width: 112px;
                            }
                        }

                    
    
                        a {
                            padding: 10px 20px;
                            border-radius: 50px;
                            color: #fff;
                            font-size: 14px;
                            font-weight: 600;
                            line-height: 28px;
                            border:none;
                            text-decoration: none;

                            &#btn-info-board{
                                background-color: $linkColorBoard;
                                &:hover {
                                  background-color: darken($linkColorBoard, 8%) !important;
                                }
                            }

                            &#btn-shift {
                                background-color: $linkColorShift;
                                &:hover {
                                  background-color: darken($linkColorShift, 8%) !important;
                                }
                            }

                            &:hover {
                                
                                @include fp-transition ( all linear 0.5s);
                                
                            }
                            

        
                        }
                    }
                }
            }
        }
        
    }
}